@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-poppins;
  }
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .after-effect {
    @apply text-7xl font-bold font-robotoSlab inline-block relative after:absolute transform after:-translate-y-[50%] after:bg-gradient-to-r from-[#fa5252] to-[#dd2476] after:h-0.5 after:rounded-md after:content-[""] md:after:w-48 after:top-[50%] dark:text-white;
  }
}

@layer utilities {
  .gradient-text {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(to right, #fa5252, #dd2476);
  }
}

#root {
  overflow: hidden;
}
