@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-poppins;
    scroll-behavior: smooth;
  }
}

@layer components {
  .after-effect {
    @apply relative inline-block transform from-[#fa5252] to-[#dd2476] font-robotoSlab text-7xl font-bold after:absolute after:top-[50%] after:h-0.5 after:-translate-y-[50%] after:rounded-md after:bg-gradient-to-r after:content-[""] dark:text-white md:after:w-48;
  }
}

@layer utilities {
  .gradient-text {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(to right, #fa5252, #dd2476);
  }
}

#root {
  overflow: hidden;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.text-2line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}
